<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Email</title>
</head>
<body>
Enter the email to which the code will be sent
<form th:method="POST" th:action="@{/auth/password}" th:object="${user}">
    <label for="email">Enter email: </label>
    <input type="email" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>
    <input type="submit" value="Sent code"/>
</form>
</body>
</html>